* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
  /* background-image: url('https://images.unsplash.com/photo-1632343199406-c7fcffbe26cb?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDIxfHFQWXNEenZKT1ljfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.square{
  width: 18px;
  height: 18px;
  background: #1d1d1d;
  margin: 2px;
  /* box-shadow: 0 0 2px #000; */
  border: 1px solid rgba(151, 151, 151, 0.2);
  transition: 2s ease;
}

.square:hover{
  transition-duration: 0s;
}